{% extends 'layout.html' %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Greetings!</h1>
  <p class="lead">I am a senior highschooler in Thailand. I am fascinated by machine learning and deep learning. This is a platform where anyone can download free datasets and contribute to creating one as well.</p>
  <hr class="my-4">
  <p>Everything here is totally free!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg dark" href="#" role="button">Try it out!</a>
  </p>
</div>
{% endblock %}