{% extends 'layout.html' %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Greetings!</h1>
  <p class="lead">{Hi all, I am a senior high-schooler in Thailand. I am facisnated by machine learning and deep learning. This is a platform where you can train basic models and algorithms. Have fun!}</p>
  <hr class="my-4">
  <p>Everything here is totally free!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg dark" href="{{ url_for('home') }}" role="button">Try it out!</a>
  </p>
</div>
{% endblock %}
