{% extends 'layout.html' %}
{% block content %}
	<h3 class='text-center'> Enter any pattern of X and Y that follows <var>y</var> = <var>m</var><var>x</var> + <var>b</var> </h3> <hr>

	<div class="text-center">
		<img src="{{ url_for('static', filename='img/linregcode.png') }}">
	</div>

	<form class='operations' action="" method='POST'>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">Number 1</span>
		  </div>
		  <input type="text" name='x' class="form-control" aria-label="Username" aria-describedby="basic-addon1">	
		</div>		
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">Number 1</span>
		  </div>
		  <input type="text" name='y' class="form-control" aria-label="Username" aria-describedby="basic-addon1">	
		</div> 
		<div class='text-center'>
		   <button type="submit" class="btn btn-primary">Train</button>
		</div>	<br> <br>
		<div class="form-group text-center">
		    <label for="exampleFormControlInput1">Enter an X and Y will be predicted by Linear Regression model</label>
		    <input type="number" name='num' class="form-control" id="exampleFormControlInput1"> <br>
		    <button type="submit" class="btn btn-primary">Predict</button>
		</div>
	</form>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p class='text-center h4'> {{ msg }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<br> 
	<div class="text-center">
		<a role="button" href="/linreg" type="reset" value="Reset">Reset</a>
	</div>
{% endblock %}
